{% extends "base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</nav>

<h1>LSA Demo</h1>
<p class="jumbotron">
  By David Mašek and Kristýna Klesnilová. Click on any link below to start.
</p>


<h2>Articles</h2>
<ol>
{% for row in articles.itertuples(index=True) %}
  <li><a href="{{ url_for('lsa.article', article_id=row.Index) }}">{{ row.author }} - {{ row.title }}</a></li>
{% endfor %}
</ol>
{% endblock %}